body {
  background-color: #c0c0c0;
  width: auto;
  height: auto;
  margin: 0 0;
  padding: 0 0;
}
.wrapper {
  width: 800px;
  height: auto;
  padding: 0 0;
  margin: 15px auto;
}
.header {
  width: 800px;
  min-height: 310px;
  padding: 0 0;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
}

.timeBlock {
  width: 180px;
  min-height: 300px;
  float: left;
}

.currentDate,
.description {
  padding: 0 0;
  margin: 0 0;
  float: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #457eaa;
}
.description {
  margin: 0 0 0 25px;
  padding: 0 0;
  width: 175px;
  height: 40px;
}
.currentDate {
  width: 200px;
  padding: 25px 0 5px 25px;
  height: 110px;
}

#icon {
  display: inline;
  width: 200px;
  margin: 0 0;
  padding: 0 0;
  display: block;
  position: relative;
  top: -30px;
  left: -25px;
}

#townData {
  min-width: 400px;
  min-height: 300px;
  padding: 0 0;
  margin: 0 20 0 200px;
}
.town {
  position: relative;
  top: 4px;
  left: 8px;
  width: 450px;
  margin: 0 0 20px 0px;
  padding: 14px 0 0 0;
  color: #457eaa;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 26px;
}

#searchForm {
  position: relative;
  top: -5px;
  left: -5px;
  width: 270px;
  height: 37px;
  padding: 0 20px 0 20px;
  margin: 0 0 10px 0;
  border-radius: 4px;
  border: 2px solid #c0c0c0;
  background-color: #fbfcfe;
}

#buttonSearch {
  position: relative;
  top: -5px;
  left: -180px;
  padding: 5px 25px;
  margin: 0;
  background-color: #457eaa;
  font-size: 17px;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}

#buttonCurrent {
  position: relative;
  top: -51px;
  left: 390px;
  padding: 5px 25px;
  margin: 0 0;
  background-color: #457eaa;
  font-size: 17px;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}
.degrees {
  display: inline;
  position: relative;
  top: -60px;
  left: 15px;
  color: #457eaa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  padding: 0 0;
  margin: 0 0;
}
.celsius {
  position: relative;
  top: 0px;
  left: -5px;
  height: 70px;
  color: #457eaa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  outline: none;
  border: 0;
  background: transparent;
}
#slash {
  position: relative;
  top: 0px;
  left: -5px;
}
.f {
  position: relative;
  top: 0px;
  left: -5px;
  height: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5c6677;
  font-size: 18px;
  font-size: 30px;
  outline: none;
  border: none;
  background: transparent;
}

.description1 {
  position: relative;
  top: -60px;
  left: 15px;
  width: 600px;
  min-height: 110px;
}

.feltTemp,
.otherInf,
.humidity,
.wind {
  padding: 0 0;
  margin: 0 0;
  color: #5c6677;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.clean1 {
  width: 140px;
  height: 550px;
}

footer {
  position: relative;
  top: -550px;
  left: 0px;
  width: 800px;
  min-height: 70px;
  background-color: white;
  border: 2px solid #c0c0c0;
  padding: 0 0;
  margin: 0 auto;
  border-radius: 4px;
}
.gitHub {
  height: 30px;
  padding: 0 0;
  margin: 5px auto;
  text-align: center;
  color: #457eaa;
}

.copyright {
  height: 30px;
  padding: 0 0;
  margin: 5px auto;
  text-align: center;
  color: #457eaa;
}

#forecastDays {
  width: 800px;
  height: auto;
  padding: 0 0;
  /* margin: 15px auto; */
}

.forecastColumn {
  background-color: white;
  border-radius: 4px;
  /* margin: 0 5px; */
  /* padding: 5px 5px; */
}
