body {
  background-color: #f5f5f6;
  width: auto;
  height: auto;
  margin: 0 0;
  padding: 0 0;
}
.header {
  width: 800px;
  padding: 0 0;
  margin: 20px auto;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.timeBlock {
  width: 200px;
  min-height: 300px;
  float: left;
  overflow: hidden;
}

.currentDate,
.description {
  float: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #546e7a;
}
.description {
  position: relative;
  left: 15px;
  top: -25px;
  height: 40px;
  text-transform: capitalize;
}
.currentDate {
  padding: 25px 0 25px 15px;
}

#icon {
  display: inline;
  position: relative;
  top: -55px;
  left: -25px;
  width: 200px;
}

#townData {
  min-width: 400px;
  min-height: 150px;
  margin-right: 20px;
  margin-left: 200px;
}
.town {
  position: relative;
  top: 14px;
  left: 1px;
  width: 450px;
  color: #546e7a;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#searchForm {
  position: relative;
  top: 7px;
  width: 270px;
  height: 37px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #e1e2e1;
  background-color: #f5f5f6;
}

#buttonSearch {
  position: relative;
  top: 7px;
  left: -165px;
  padding: 6px 35px;
  background-color: #546e7a;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  letter-spacing: 1px;
}

#buttonSearch:hover {
  background-color: #819ca9;
  color: #29434e;
}
#buttonSearch:active {
  background-color: #29434e;
  color: #819ca9;
  font-size: 16px;
}
#buttonCurrent {
  position: relative;
  top: -31px;
  left: 425px;
  padding: 6px 26px;
  background-color: #546e7a;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  letter-spacing: 2px;
}

#buttonCurrent:hover {
  background-color: #819ca9;
  color: #29434e;
}
#buttonCurrent:active {
  background-color: #29434e;
  color: #819ca9;
  font-size: 16px;
}

.tempGeneralCover {
  margin-top: -40px;
  float: left;
  width: 400px;
  height: 50px;
  position: relative;
}

.degrees {
  float: left;
  width: 50px;
  height: 50px;
  color: #546e7a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
}

.celsiusContainer {
  position: relative;
  left: -10px;
  float: left;
  width: 50px;
  height: 50px;
}
.celsius {
  color: #546e7a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  outline: none;
  border: 0;
  background: transparent;
}
.celsius:hover {
  color: #819ca9;
}
.celsius:active {
  color: #29434e;
  font-size: 29px;
}
#slash {
  float: left;
  position: relative;
  left: -5px;
  width: 50px;
  height: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  color: #546e7a;
}
.fahrContainer {
  float: left;
  position: relative;
  left: -35px;
  width: 50px;
  height: 50px;
}

.f {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #546e7a;
  font-size: 30px;
  outline: none;
  border: none;
  background: transparent;
}
.f:hover {
  color: #819ca9;
}
.f:active {
  color: #29434e;
  font-size: 29px;
}

.description1 {
  float: left;
  width: 400px;
  height: auto;
  margin-top: 10px;
}

.feltTemp,
.otherInf,
.humidity,
.wind {
  margin: 5px 0;
  padding: 0 0;
  color: #819ca9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.clean1 {
  width: 140px;
  height: 550px;
}

footer {
  position: relative;
  top: -550px;
  left: 0px;
  width: 800px;
  min-height: 70px;
  background-color: white;
  border: 2px solid #f5f5f6;
  padding: 0 0;
  margin: 0 auto;
  border-radius: 4px;
}
.gitHub {
  height: 30px;
  padding: 0 0;
  margin: 5px auto;
  text-align: center;
  color: #819ca9;
}

.copyright {
  height: 30px;
  padding: 0 0;
  margin: 5px auto;
  text-align: center;
  color: #819ca9;
}

#forecastDays {
  padding: 0 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.forecastColumn {
  background-color: white;
  border-radius: 4px;
  padding: 5px 5px;
}

.weather-forecast-temperatures-max,
.weather-forecast-temperatures-min {
  color: #546e7a;
}

.weather-forecast-temperatures-fahr-max,
.weather-forecast-temperatures-fahr-min {
  color: #819ca9;
}
